.todoApp {
  background-color: rgba(52, 120, 223, 0.432);
}
.todoText {
 max-width: 340px;
}
.taskLeft{
  padding: 8px 0;
}
.todoSection{
  position: relative;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: "Gill Sans", sans-serif;
  background-color: rgba(248, 248, 248, 0.904);
  /* box-shadow:1px 1px 12px rgba(0, 0, 0,0.2); */
  padding: 6px 25px;
  border-radius: 3px;
  animation : listFade 1s linear;
}
@keyframes listFade{
  0% {top: -10px; opacity: 0.2;}
  50% {top:-5px; opacity :1}
  100% {top: 0px; opacity :1}
}

.textField {
  width: 500px;
  margin: 20px 0;
}

.buttonArea{
  margin: 10px 0;
}

.buttonPrimary {
  padding: 12px 22px;
  margin: 2px 8px;
  border: none;
  background-color: #7d2ae8;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.buttonSecondary {
  padding: 12px 22px;
  margin: 2px 8px;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 4px;
}
.buttonTertiary {
  padding: 12px 22px;
  margin: 2px 8px;
  border: none;
  background-color: #FFD700;
  color: #111111;
  border-radius: 4px;
  width:150px
}
.hrLine{
  margin:10px auto;
  width: 70%;
}
