.container h2{
  margin: 20px 0;
  text-align: center;
}
.grid-container{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  padding: 20px 0;
}

.grid-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px;
  font-size: 2rem;
  font-weight: bold;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0 , 0.2);
}